*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.App div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
    border: 2px solid rgb(250, 242, 242);
    margin: 5px;
    width: 250px;
    padding: 20px;
}
p {
    padding-top: 3px;
}
img {
    padding-bottom:2px ;
}